/**
 * Common styles used by CKEditor. Added to front-end theme and iframe editors.
 */
.align-left {
  text-align: left; /* RTL */
}
.align-right {
  text-align: right; /* RTL */
}
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}
img.align-left {
  float: left; /* RTL */
}
img.align-right {
  float: right; /* RTL */
}
img.align-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
img.full-width {
  width: 100%;
  height: auto;
}
.underline {
  text-decoration: underline;
}
.indent1 {
  margin: 0 0 0 40px; /* RTL */
}
.indent2 {
  margin: 0 0 0 80px; /* RTL */
}
.indent3 {
  margin: 0 0 0 120px; /* RTL */
}
.caption-left {
  float: left; /* RTL */
}
.caption-right {
  float: right; /* RTL */
}
.caption-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.align-justify {
  text-align: justify;
}
