/**
 * @file
 * RTL styles for configuration of CKEditor module.
 */
ul.ckeditor-buttons {
  float: right;
  clear: right;
}
ul.ckeditor-buttons li {
  float: right;
}
ul.ckeditor-buttons li:first-child a {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
ul.ckeditor-buttons li:last-child a {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
ul.ckeditor-multiple-buttons {
  float: right;
}
ul.ckeditor-multiple-buttons li {
  float: right;
}
.ckeditor-multiple-label {
  float: right;
}
.ckeditor-row-controls {
  float: left;
  text-align: left;
}
